@import url("font-awesome.min.css");
body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  font-weight: bold;
  position: relative;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading_container h2 .design_dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #538ab2;
  margin-right: 5px;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*header section*/
.navigationbar {
  min-height: 100vh;
  /*background-color: #d0e6fc;*/
  background-color: #f5f7f8;
  padding-left: 5%;
  padding-right: 5%;
}

.sub_page .navigationbar {
  min-height: auto;
}

.sub_page .contact_section {
  margin: 75px 0;
}

.navigationbar.sub_pages {
  min-height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 45px 15px 15px;
  color: #000000;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-item:hover .nav-link, .navbar .navbar-nav .nav-item.active .nav-link {
  background-color: #c08591;
  color: #ffffff;
}

.navbar .form-inline {
  padding-top: 30px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav_search-btn {
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar-brand h3 {
  color: #000000;
  font-weight: bold;
  font-size: 250%;
  /*padding-top: 20%;*/
  padding-left: 10%;
  text-transform: uppercase;
  margin: 0;
}

.navbar-brand span {
  font-size: 16px;
  font-weight: bold;
  color: #c08591;
  margin-top: -10px;
}

.navbar {
  z-index: 99999;
  padding: 0;
}

.navbar .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
}

.navbar .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar .navbar-toggler span::before, .navbar .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar .navbar-toggler span::after {
  top: 10px;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navbar .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .navbar-toggler[aria-expanded="true"] span::before, .navbar .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
.slider_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0 165px 0;
}

.slider_section #carousel {
  width: 100%;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail-box {
  margin-bottom: 110px;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #538ab2;
}

.slider_section .detail-box p {
  margin-top: 10px;
  color: #538ab2;

}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #c08591;
  border: 1px solid #c08591;
  color: #ffffff;
  margin-top: 15px;
}

.slider_section .detail-box a:hover {
  background-color: #538ab2;
  color: #000000;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section #carousel {
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #carousel li {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 3px solid #000000;
  border-radius: 100%;
  opacity: 1;
}

.slider_section #carousel li.active {
  width: 12px;
  height: 12px;
  border-color: #c08591;
}

.special_section .special_container {
  color: #ffffff;
  background-color: #c08591;
  padding: 25px;
  margin-top: -97.5px;
}



.about_section {
  position: relative;
  text-align: center;

}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.about_section .img-box {
  margin-top: 45px;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #c08591;
  border: 1px solid #c08591;
  color: #ffffff;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #c08591;
}

.service_section {
  position: relative;
  background-color: #f5f7f8;
  padding-top: 5%;
}

.service_section .box {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin-top: 45px;
  padding: 25px;
  border-radius: 5px;
}

.service_section .box img {
  max-width: 225px;
  width: 100%;
}

.service_section .box a {
  font-weight: 600;
  font-size: 24px;
  margin-top: 15px;
  color: #000000;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 8px 45px;
  background-color: #c08591;
  border: 1px solid #c08591;
  color: #ffffff;
  margin-top: 45px;
}

.service_section .btn-box a:hover {
  background-color: transparent;
  color: #c08591;
}



.reviews_section .heading_container {
  margin-bottom: 30px;
}

.reviews_section .box {
  margin: 15px 70px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
  padding: 25px;
  text-align: center;
  background-color: #538ab2;
  color: #ffffff;
}

.reviews_section .box .client_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews_section .box .client_info .client_name h5 {
  font-weight: 600;
  color: #000000;
}

.reviews_section .box .client_info .client_name h6 {
  margin-bottom: 15px;
  color: #c08591;
  color: #000000;
  font-weight: normal;
  font-size: 15px;
}

.reviews_section .box .client_info i {
  font-size: 24px;
}

.reviews_section .box p {
  margin-top: 15px;
}

.reviews_section .carousel-control-prev,
.reviews_section .carousel-control-next {
  width: 55px;
  height: 55px;
  background-color: #c08591;
  opacity: 1;
  font-size: 28px;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.reviews_section .carousel-control-prev {
  left: 0;
}

.reviews_section .carousel-control-next {
  right: 0;
}

.reviews_section .carousel_btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Cards */
.card-wrapper {
  /* margin: auto auto; */
  /* padding: 120px ; */
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.card {
  margin: 0 30px 60px;
  padding: 20px 40px;
  width: 460px;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 5px;
  background: var(--white);
}

@media only screen and (max-width: 520px) {
  .card-wrapper {
    padding: 30px 0 0;
  }
}

@media only screen and (max-width: 520px) {
  .card {
    margin: 0 0 30px;
    width: 100%;
    border-radius: 0;
  }
}


.info_section {
  background-color: #538ab2;
}

.info_section h5 {
  text-transform: uppercase;
  font-weight: 600;
}

.info_section .info_menu .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.info_section .info_news .info_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info_section .info_news .info_contact a {
  color: #ffffff;
  margin-bottom: 5px;
}

.info_section .info_news .info_contact a i {
  margin-right: 5px;
}

.info_section .info_news form {
  margin-top: 15px;
}

.info_section .info_news form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 10px;
  background-color: #538ab2;
}

.info_section .info_news form input::-webkit-input-placeholder {
  color: #acaeae;
}

.info_section .info_news form input:-ms-input-placeholder {
  color: #acaeae;
}

.info_section .info_news form input::-ms-input-placeholder {
  color: #acaeae;
}

.info_section .info_news form input::placeholder {
  color: #acaeae;
}

.info_section .info_news form button {
  display: inline-block;
  padding: 7px 45px;
  background-color: #c08591;
  border: 1px solid #c08591;
  color: #ffffff;
  margin-top: 15px;
}

.info_section .info_news form button:hover {
  background-color: transparent;
  color: #c08591;
}

/* footer section*/
.footer_section {
  background-color: #538ab2;
}

.footer_section p {
  padding: 20px 0;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid rgba(224, 224, 224, 0.8);
}

.footer_section p a {
  color: inherit;
}

/* end footer section*/
